.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.child {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
}

.keypad-table {
    background: gray;
    border-radius: 20px;
    padding: 20px;
}

.keypad {
    font-size: 40pt;
    background: black;
    color: green;
    border-radius: 20px
}

.keypad:hover {
    font-size: 40pt;
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.2);
    border-radius: 20px
}

.keypad-display {
    font-size: 52pt;
    width: 100%;
    text-align: center;
    background: darkgray;
    color: green;
    border-radius: 20px
}

.types {
    padding: 5px;
    background: gray;
    border-radius: 10px;
    font-size: 20pt;
}

.selected{
    background: green !important;
}

.types:hover {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.2);
}